<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XCad" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.5.2.0" newVersion="0.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>