<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xarial.XCad" version="0.7.5" targetFramework="net461" />
  <package id="Xarial.XCad.SolidWorks.DocumentManager.Interops" version="0.1.0" targetFramework="net461" />
  <package id="Xarial.XCad.SwDocumentManager" version="0.7.5" targetFramework="net461" />
  <package id="Xarial.XCad.Toolkit" version="0.7.5" targetFramework="net461" />
</packages>